<mat-drawer-container class="example-container " [class.dark-theme]="isDarkTheme" autosize>
  <mat-drawer #drawer  class="example-sidenav mat-elevation-z10" [mode]="isScreenSmall ? 'over' : 'side' " [opened]="!isScreenSmall"  disableClose="false">
    <mat-toolbar class="sideNav-heading">
      <span>Contacts</span>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item *ngFor="let user of users | async">
         <a matLine [routerLink]="['/contactmanager',user.id]">
          <mat-icon svgIcon="{{user.avatar}}"></mat-icon>{{ user.name }}</a>

            <!-- <mat-icon>face</mat-icon> -->

      </mat-list-item>
    </mat-nav-list>

  </mat-drawer>

  <div class="example-sidenav-content" >
    <app-toolbar (toggleSideNav)="drawer.toggle()"
                  (toggleTheme)="toggleTheme()">Contacts</app-toolbar>

    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
    <!-- <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button> -->
  </div>

</mat-drawer-container>
