<mat-toolbar style="background-color: rgb(25, 119, 186);">
  <button (click)="toggleSideNav.emit()" class="example-icon sideNavButtonToggle" aria-label="Example icon-button with menu icon">
  <mat-icon>menu</mat-icon>
  </button>
  <span>Contact Manager</span>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openAddContactDialog()">New Contact</button>
    <button mat-menu-item (click)="toggleTheme.emit()">Toggle Theme</button>
    <button mat-menu-item (click)="toggleDir.emit()">Toggle Direction</button>
  </mat-menu>
</mat-toolbar>

